@charset "UTF-8";


*{ margin: 0;}


body {background-image: url(fundo-madeira.jpg);
background-size:cover;
background-attachment:fixed;
position: relative;
}

#celular>img{ position: absolute;
display:block;
margin: auto;
left: 50%; 
right: 50%;
}

#rs>img{ border-radius: 50%;
    height: 70px;
width: 70px;}