@charset "UTF-8";


body { background-color: bisque;}

*{ margin: 0px; 
    padding: 0px;}

 html, body{ 
    background-color: darkgray ;
    min-height:100vh;
 }   

 header{ background-color: black;
    color: white;
text-align: center; }

 
header>h1{ 
    padding: 50PX;
    font-variant: small-caps;
}

header> p { padding-bottom: 50px;}

a{color: white;
text-decoration: none;
font-weight:bolder;}

header> a:hover, footer:hover { text-decoration: underline;} 

section{ padding-top:10vh;
padding-bottom:10vh ;
line-height: 2em;
padding-left: 30px;}

section.normal{ background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);}


section.imagens{ background-color:rgba(22, 22, 22, 0.712) ;
color: aliceblue;}

section.imagens >p { background-color: rgba(0, 0, 0, 0.479);
width: 400px;}

footer{ background-color: black;
color: aliceblue;
text-align: center;
padding: 10px;}