@charset "UTF-8";


body { background-color: bisque;}

*{ margin: 0px; 
    padding: 0px;}

 html, body{ 
    background-color: darkgray ;
    min-height:100vh;
 }   

 header{ background-color: black;
    color: white;
text-align: center; }

 
header>h1{ font-size: 7vw;
    padding: 50PX;
    font-variant: small-caps;
}



header> p { padding-bottom: 50px;}

a{color: white;
text-decoration: none;
font-weight:bolder;}

header> a:hover, footer:hover { text-decoration: underline;} 

section{ padding-top:10vh;
padding-bottom:10vh ;
line-height: 2em;
padding-left: 30px;}

section > p {padding-bottom: 2em;}

section.normal{ background-color: rgb(255, 255, 255);
    font-size:2.5vw;
color: rgb(0, 0, 0);}


section.imagens{
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px black;
     background-color:rgba(22, 22, 22, 0.712) ;
color: aliceblue;}

section.imagens >p {
    font-size:2.5vw;
    padding: 5px;
   display: inline-block;
    background-color: rgba(0, 0, 0, 0.288);
width: 400px;
text-shadow:1px 1px 0px black ;}

section#img01 { background-image: url(imagens/background001.jpg);
background-repeat: no-repeat;
background-position:right center ;
background-size: cover;}


section#img02{background-image: url(imagens/background002.jpg);
background-repeat: no-repeat;
background-size: cover;}

footer{ background-color: black;
color: aliceblue;
text-align: center;
padding: 10px;}