@charset "UTF-8";

*{ margin: 0px;
padding: 0px;
}

html, body { width: 100vw;
height: 100vw;
background-color: blue;
background-size: contain;
background-repeat: no-repeat;}

h1 { color: aliceblue
; 
text-shadow: 2px 2 px 0px blue;
padding :10px ;}
