@charset "UTF-8";

body { background-color: rgba(0, 255, 255, 0.308);
font-size: 1em;
margin: auto;}

h1{ font-size: 2em; font-family: 'Times New Roman', Times, serif; font-weight: 400; color: rgba(74, 10, 250, 0.603);}

h2{ text-align: center; 
    font-weight: 400; color:rgb(51, 78, 199) ;
}
    
h1#principal {color: rgb(0, 23, 155);} 

p{color: rgb(0, 0, 0);}

.sub{background-color: rgba(192, 37, 37, 0.377);}

