@charset "UTF-8";



*{ margin: 0px;
margin: 0px;
font-family: Arial, Helvetica, sans-serif;}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
} 

img{ width: 100vw;}

a{ display: block;
background-color: brown;
text-align: center;
padding: 20px;
color: aliceblue;
text-decoration: none;
font-weight: bolder;
}

a:hover{ background-color: red}