@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* CABEÇALHO */

header{
    background-color: rgb(239, 162, 142);
    padding: 60px 8%;
}

/* CONTAINER PRINCIPAL */
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

/* NOME EM CIMA */
.c1{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

/* TEXTO */
.c2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
}

.c2 h1{
    font-size: 38px;
}

.c2 p{
    font-size: 18px;
}

/* BOTÃO */
button{
    width: 180px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background-color: black;
    color: white;
}

/* IMAGEM REDONDA */
.img{
    height: 220px;
    width: 220px;
    border-radius: 50%;
    background-image: url("WhatsApp 300Image 2025-12-01 at 9.22.40 PM.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;
}

/* LINK DENTRO DA IMAGEM */
.img a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 8px 18px;
    border-radius: 20px;
    background: linear-gradient(
        135deg,
        rgb(214, 5, 197),
        rgb(52, 52, 128),
        rgb(10, 153, 172)
    );
    transition: 0.3s;
}

.img a:hover{
    transform: scale(1.05);
}

