@charset "UTF-8"; 



@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

/* colocando as cores gerais e padroes e tb as fontes*/

:root {
--corp1: rgb(11, 11, 107);
--corp2: rgb(52, 52, 128);
--corp3:rgb(27, 27, 168);
--cortextp: rgb(223, 222, 222);
--cortexts: rgb(223, 222, 222);
--fontep:"Zalando Sans Expanded", sans-serif;
--fontes:"Google Sans Code", monospace;
}



*{ margin: 0px; text-indent :10px;
     font-family:var(--cortexts);}

/*mechendo na cabeca*/




header{ text-align: center;
background: linear-gradient(to left, 
var(--corp1),
var(--corp2),
var(--corp3)); 
height: 90px;
padding-top:20px;
padding-bottom: 20px;
border-color: black;  
border: 2px solid;}

header>img{ display:inline-block;
width:80px;
height:90px;
float: left;
margin-left: 46px;
border: 3px solid;}
header>h1 { font-family: var(--fontep);
font-size: 30px;
color: var(--cortextp);
display:inline-block ;
text-shadow:1px 2px 2px black ;}


header>p {font-family:var(--fontes) ;
font-size: 10px;
color: var(--cortexts);
display: block;}
