@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
}

:root {
    font-family: Arial, Helvetica, sans-serif;


}

/*cabecalho*/

header {
    background-color: rgb(239, 162, 142);
    display: noe;
}

.container {
    height: 350px;
    display: flex;
    flex-flow: row wrap;
    border: 1px solid black;
    flex: 1;
}

.c1 {
    display: flex;
    width: 100%;
    height: 20px;
    justify-content: space-between;
}

.c1>p>a {
    margin-left: -2px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid black;
    width: 50px;
    color: black;
    background-color: white;
}

.c1>p>a:hover {
    color: rgb(255, 255, 255);
    transition: 0.3s;
    background-color: black;
}


.c2 {
    display: flex;
    width: 50%;
    height: 350px;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.c2>p {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.c2>h1 {
    font-size: 3em;
}

.img {
    display: flex;
    width: 49%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.c2>button {
    background-color: aliceblue;
    border-radius: 13px;
    padding: 5px;
    width: 150px;

}

.c2>button>a {
    text-decoration: none;
    color: black;
}

button:hover {
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 0, 200));
    color: white;
    transition: 0.3s;
}



.cc {
    border: 1px solid black;
    background-image: url(WhatsApp\ 300Image\ 2025-12-01\ at\ 9.22.40\ PM.jpeg);
    justify-content: center;
    align-items: center;
    height: 290px;
    width: 290px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.cc>a {
    text-align: center;
    width: 80px;
    text-decoration: none;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    background-color: white;

}

.cc>a:hover {
    color: rgb(255, 255, 255);
    transition: 0.3s;
    background-color: black;
}



/* LINK DENTRO DA IMAGEM */
/* s2 */
.s1 {
    max-height: 630px;
    max-width: 900px;
    margin: auto;
}

.s1>h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}

.s1>p {
    text-align: center;
    text-indent: 5px;
    text-indent: 10px;
    line-height: 20px;
}

/* s1 feito */
/* s2  */

h2 {
    font-size: 2em;
    text-align: center;
    padding: 20px;
}


.container2 {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    justify-content: space-around;
    height: 180px;
    width: 100%;
}

.b1 {
    border: 1px solid black;
    border-radius: 50px;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    flex-flow: column;
}

.b2 {
    border: 1px solid black;
    border-radius: 50px;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    flex-flow: column;
}

.b3 {
    border: 1px solid black;
    border-radius: 50px;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    flex-flow: column;
}

.container2>.b1>p {
    color: rgb(0, 0, 0);
    text-align: center;
}

.container2>.b2>p {
    color: rgb(0, 0, 0);
    text-align: center;
}

.container2>.b3>p {
    color: rgb(0, 0, 0);
    text-align: center;
}

/* s2 feito */
/* s3 */


.container3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.s3 {

    display: flex;
    flex-flow: column wrap;
    max-width: 90vw;
    height: 400px;
    border: 1px solid black;
    border-radius: 20px;
    border: solid black;
    text-align: center;
    justify-content: center;
    gap: 50px;
    background-image: url(wallpaper005.jpg);
    margin-top: 60px;
}

.s3>p {
    text-align: center;
    font-size: 2em;
    padding-bottom: 50px;
}

/* s3 feito*/

footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: rgb(239, 162, 142);
}

footer>button {
    border-radius: 50px;
    background-color: white;
}

footer>button>a {
    text-decoration: none;
    color: black;
}

footer>button>a:hover {
    color: rgb(253, 253, 253);
}

@media screen and (max-width: 620px) {

    .s3 {

        margin-top: 220px;
    }

    .cc {
        border: 1px solid black;
        background-image: url(WhatsApp\ 300Image\ 2025-12-01\ at\ 9.22.40\ PM.jpeg);
        justify-content: center;
        align-items: center;
        height: 240px;
        width: 240px;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        position: relative;
    }

}