@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');


*{
margin: 0px;
padding: 0px;
}



body{ background-image: url(wallpaper005.jpg);
position: relative;
background-size: cover;
background-repeat: no-repeat;}

:root{ 
--corp1: rgb(11, 11, 107);
--corp2: rgb(52, 52, 128);
--corp3:rgb(27, 27, 168);
--cortextp: rgb(223, 222, 222);
--cortexts: rgb(223, 222, 222);
--corfooter: rgba(0, 0, 0, 0.829);
--colorcurriculo:white;
--fontep:"Zalando Sans Expanded", sans-serif;
--fontes:"Google Sans Code", monospace;
--sobras:1px 2px 2px black;
}

/*mechendo na cabeca*/

header {
    display: flex;
    justify-content: center;
    align-items: center;

   
    font-size: var(--fontep);
    color: var(--cortextp);
   background: linear-gradient(to left, 
var(--corp1),
var(--corp2),
var(--corp3)); 
}

.titulo {
    text-align: center;
     font-size: 1.5em;
}

.img > img{ 
    position: relative;

    border: 2px solid black;
    margin-right: auto ;
    
    width: 80px;
    height: 90px;
}

main>h1, p, footer{ display:noe }
/* cabeca configurada*/

/*configurr o main*/
main {max-width:75vw ;
margin: auto;
font-family: var(--fontep);
border: 2px solid black; 
border-radius: 10px;
background-image: url(wallpaper004.jpg);}

main > h1 { font-family: var(--fontep);
text-align: center;
padding-bottom: 10px;
}

main>p { 
    margin: 6px;
    text-indent :10px;
    line-height: 20px;
    text-align: justify;}
    /* main feito*/ 
    
section { 
    overflow: hidden;
   
width: 50vw;
height: 25vh;
border: 1px solid black;
background: linear-gradient(to left, 
var(--corp1),
var(--corp2),
var(--corp3)); 
margin: 80px;
border-radius: 20px;

border: solid black;
padding-bottom: 20px;
}


section > h2 { text-align: center;
background-color: rgba(27, 27, 27, 0.781);
color: var(--cortextp);
border: 1px solid wheat;
border-radius: 10px black;
 }

.curriculo{ display:flex;
flex-flow: row nowrap;
justify-content: center;
align-items: center;

}
.curriculo>ul>li>a { color: var(--cortexts);
text-decoration: none;
}
.curriculo>ul>li{list-style: none;}

.curriculo> img { border: 3px solid black;
    height: 20vh;
    width: 20vw;
    border-radius: 50%;
    
    
flex: auto;}


/*fazendo o footer*/
footer {background: linear-gradient(to left, 
var(--corp1),
var(--corfooter),
var(--corfooter),
var(--corp3));
text-align: center;
color:var(--cortextp);} 