@charset "utf-8";

*{font-family: Arial, Helvetica, sans-serif;
margin: 0px;
padding: 0px;}

body, html{ background-color: aliceblue;}

header{ background-color:rgba(128, 128, 128, 0.801);}

header>h1{ padding: 10px;
text-align: center;}


menu{ display: block;}

p#mee {display: block; padding: 10px;
text-decoration:none;
background-color: rgb(87, 87, 87);
color: aliceblue;
text-align: center;
border: 2px solid rgb(0, 0, 0);}

menu>ul 
{list-style-type: none;}

menu > ul > li > a { display: block; padding: 10px;
text-decoration:none;
background-color: rgb(87, 87, 87);
color: aliceblue;
text-align: center;
border: 2px solid rgb(0, 0, 0);}

menu > ul > li > a:hover { background-color: rgb(175, 174, 174);}

main{ width: 90vw;
background-color: white;
margin:auto;
border-radius: 10px;
padding: 10px;
margin-top: 10px;}

article>h2{ padding-bottom: 20px;}

article>p { text-align: justify;
margin-bottom: 20px;
text-indent: 20px;}